# Python 3.10

# ==========================================================
# Core
# ==========================================================

alembic
asgi-correlation-id
celery
click
click-didyoumean
gunicorn
asyncpg
python-dotenv
httpx
redis
orjson
rich-click
requests
fastapi
sqladmin
starlette
sqlalchemy
sqlmodel
uvicorn
pandas

# ==========================================================
# Testing
# ==========================================================

pytest
pytest-asyncio
pytest-celery
pytest-cov
pytest-postgresql<4

# ==========================================================
# Misc.
# ==========================================================

flake8
isort
pip-tools
pre-commit
